{% extends "base.html" %}

{% block content %}
<div class='flex-col'>
  
  <div class='flex-center'>
    <p class='question-button nomination-banner'>{{ nominations }} {% if nominations == 1 %} Nomination {% else %} Nominations {% endif %}</p>
  </div>

  <ul class='mb50 flex-center animate__animated animate__fadeInUp'>
    {% if movie %}
    {% if movie.is_nominee == True %}
    <li class='flex-center'>
      <div class='card-holder' style='margin-bottom: 0;'>
        <div class='flip-card-detail' data-card-pk={{movie.pk}}>
          <div class='flip-card-inner'>
            <div class='flip-card-front'>
              <img class='card-image' src="{{ movie.poster_image }}" style="width:100%; height:100%;">  
            </div>
            <div class="flip-card-back">
              {{ movie.title }}
            </div>
          </div>
        </div>
        <div class='action-bar flex jc-sa'>
          <div class='flex'>
            <p>Nominee</p><i class='fa-trophy fas'></i>
          </div>
          <div>
            <i data-movie-pk={{ movie.pk }} class='fa-minus-circle fas un-nominate'></i></div>
        </div>

      </div>
      <div class="flex">
        <div class="summary-box">{{ movie.summary }}</div>
      </div>
      <div class='flex movie-trailer''>
        
        <iframe width="680" height="360" src="{{ movie.trailer_link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    
    </li>
    {% endif %}
    {% endif %}
  </ul>
  <ul class='mb50 flex-center animate__animated animate__fadeInUp'>
    {% if movie %}
    {% if movie.is_nominee == False %}
    <li class='flex-center'>
      <div class='card-holder' style='margin-bottom: 0;'>
        <div class='flip-card-detail' data-card-pk={{movie.pk}}>
          <div class='flip-card-inner'>
            <div class='flip-card-front'>
              <img class='card-image' src="{{ movie.poster_image }}" style="width:100%; height:100%;">  
            </div>
            <div class="flip-card-back">
              {{ movie.title }}
            </div>
          </div>
        </div>
        <div class='action-bar flex jc-sa'>
          <div class='flex'>
            <p data-num-nominees={{ nominee_count }} class='hide-me nominees'>Number of Nominees: {{ nominee_count }}</p>
            <p>Nominate</p><i data-movie-pk={{ movie.pk }} class='fa-star far nominate'></i>
          </div>
          <div>
            <i data-movie-pk={{ movie.pk }} class='fa-trash-alt fas delete'></i></div>
        </div>

      </div>
      <div class="flex">
        <div class="summary-box">{{ movie.summary }}</div>
      </div>
      <div class='flex movie-trailer'>
        
        <iframe width="680" height="360" src="{{ movie.trailer_link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    
    </li>
    {% endif %}
    {% endif %}
  </ul>
</div>
{% endblock %}