{% for user in users %}

<div class='flex-no-w'>
  <div class='flex-col'>
    <a href="{% url 'home' %}" class='question-button'>{{ user }} Nominees</a>
  </div>
  <ul class='mb50 flex'>
  
  {% for movie in movies %}
  {% if user == movie.user %}
    <li class='flex'>
      <div class='card-holder flex-col'>
        <a class='flex' href="{% url 'movie-detail' pk=movie.pk %}">
            <div class='flip-card' data-card-pk={{movie.pk}}>
              <div class='flip-card-inner'>
                <div class='flip-card-front'>
                  <img class='card-image' src="{{ movie.poster_image }}" style="width:100%; height:100%;">  
                </div>
                <div class="flip-card-back">
                  {{ movie.title }}
                </div>
              </div>
            </div>
        </a>
        <div class='action-bar flex jc-sa'>
          <div class='flex'>
            <p>Nominee</p><i class='fa-trophy fas'></i>
          </div>
      </div>
    </li>
    {% endif %}
  {% endfor %}

  </ul>
</div>
{% endfor %}